# requirements for the execution of tests and packaging. Not runtime requirements.
pytest
mock
bump2version
flake8
pylint
black
pytest-cov
tox
beartype==0.14.1
cryptography==2.8
requests==2.31.0
pyzmq==26.0.0
pydantic[email]==2.5.2
unitest